data/*
scripts/data_processing/generation_model_output/
scripts/data_processing/old_generation_model_output/*
scripts/data_processing/question_generation/
scripts/*/.ipynb_checkpoints/
scripts/data_processing/*.log
scripts/data_processing/*.txt
scripts/data_processing/runs/
scripts/data_processing/debug_training.py
scripts/data_processing/pointer-generator/
scripts/data_processing/twitter_data_helpers.py
scripts/models/question_generation/
scripts/models/runs/
scripts/models/run_ner_no_trainer.*
scripts/models/*.txt
scripts/*/__pycache__/
scripts/models/question_generation/
logs/
